@font-face {
    font-family: 'fontawesome';
    src: url('fonts/fontawesome-webfont.eot');
    src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontawesome-webfont.woff') format('woff'),
         url('fonts/fontawesome-webfont.ttf') format('truetype'),
         url('fonts/fontawesome.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'aleo';
	src: url('fonts/Aleo-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.awesome {
    font-family: "fontawesome";
}

/*
 * OGÓLNE
*/
html {
    width: 100%;
    background-color: #363636;
	font-family: 'aleo';
}

body {
    width: 100%;
    margin: 0 auto;
}

#content {
    width: 960px;
    margin: 0 auto;

}

/*
 * END OGÓLNE
 */


/*
 * HEADER
*/

header {
	width: 100%;
    overflow: hidden;
	background-color: #050505;
}

.header_top {
    width: 960px;
    margin: 0 auto;
}

.header_top #logo h1 {
    font-size: 0px;
}

.header_top #logo {
	float: left;
    padding: 6px 24px;
    overflow: hidden;
}

.header_top #logo img {
    width: 150px;
    height: 150px;
}

.header_top .registration {
	float: right;
    padding: 60px;
    line-height: 49px;
}

.header_top .registration a {
	font-size: 25px;
	text-decoration: none;
    color: #f42d2d;
    text-transform: uppercase;
}

.header_top .registration a:hover {
	color: red;
}

/*
 * INDEX
*/


/*
 * NAVIGATION
 */

.header_bottom .user_navigation {
    width: 100%;
    padding: 24px 0px;
    float: left;
}

.header_bottom .user_navigation ul {
    list-style-type: none;
}

.header_bottom .user_navigation li i {
    float: left;
}

.header_bottom .user_navigation li {
    display: inline-block;
    background-color: #000000;
    text-align: center;
}

.header_bottom .user_navigation li a {
    float: left;
    color: #f42d2d;
    font-size: 18px;
    text-transform: uppercase;
    padding: 12px;
    transition: all 0.1s ease 0.1s;
}

.header_bottom .user_navigation li a:hover {
    background-color: #101010;
}


/*
 * END NAVIGATION
 */

/************** INDEX-LEWA KOLUMNA **************/


.left_sidebar {
    width: 50%;
    display: inline-block;
    float: left;
    overflow: hidden;
    padding: 12px 0px;
}

.left_sidebar .title {
    font-size: 25px;
    font-weight: bold;
    padding: 12px;
}

.left_sidebar .node {
    padding: 12px 0px;
    width: 340px;
    margin: 0 auto;
    overflow: hidden;
    float: left;
}

.left_sidebar .node .info_title {
    font-size: 18px;
    padding: 12px 24px;
}

.left_sidebar .node .description {
	font-size: 16px;
    padding: 6px 0px;
}

.left_sidebar .node a {
	float: right;
	margin-right: 10px;
}


/************** INDEX-LEWA KOLUMNA **************/

.right_sidebar {
    float: right;
    overflow: hidden;
    display: inline-block;
    width: 50%;
}

.right_sidebar .login_panel {
    padding: 12px 0px;
    float: right;
    padding: 24px;
    margin: 50px 0px;
}

.right_sidebar .login_panel .title {
    font-size: 25px;
    font-weight: bold;
    padding: 12px;
}

.right_sidebar .login_panel .login_form {
    padding: 6px 0px;
    display: inline-block;
}

.right_sidebar .login_panel .login_form p {
    padding: 6px 0px;
    clear: both;
}

.right_sidebar .login_panel .login_form span {
    margin: 0px 6px;
}
    
.right_sidebar .login_panel .login_form input {
    float: right;
    line-height: 12px;
    padding: 3px;
    width: 150px;
}

.right_sidebar .login_panel .login_form #submit {
    padding: 3px;
	width: 70px;
    float: right;
    margin: 6px 0px;
}

/*
 * END INDEX
 */

/*
 * FOOTER
*/

footer {
	clear: both;
	width: 100%;
	background-color: #050505;
    padding: 12px;
    overflow: hidden;
}

.footer {
    width: 960px;
    margin: 0 auto;
    padding: 6px 0px;
}

.footer .left li {
    list-style-type: none;
    display: inline;
    float: left;
    padding: 6px;
    border-left: 1px dotted #ffffff;
}

.footer .left li:first-child {
    border-left: none;
}

.footer .left li a {
    color: #ffffff;
    padding: 6px;
}

.footer .link_footer {
	float: left;
	padding: 5px 10px;
}

.footer .right li {
    padding: 6px;
	text-align: center;
    float: right;
    display: inline;
    color: #ffffff;
}

/*
 * END FOOTER
 */



.register_form {
	padding: 24px 0px; 
}

.register_form table td {
	padding: 6px;
}

.register_form table tr td .label {
	font-size: 18px;
}

.register_form table tr td input {
	padding: 3px;
	width: 150px;
}


/**
* MAPS
**/

.generate_mission {
    float: left;
    overflow: hidden;
}

.generate_mission #form_mission {
    margin: 0px 0px 20px 20px;
}

.generate_mission #form_mission table tr td {
    padding: 3px;
}

.generate_mission #form_mission table tr td span {
    text-transform: uppercase;
    margin-right: 6px;
}

.generate_mission #form_mission table tr td input {
    padding: 3px;
    width: 100px;
}

.generate_mission #form_mission #generate {
    float: right;
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #f42d2d;
    background-color: #000000;
    border: none;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

.generate_mission #form_mission #generate:hover {
    background-color: #f42d2d;
    color: #000000;
}

.missions {
    clear: both;
    overflow: hidden;
    padding: 10px;
    margin: 20px 0px;
}

.missions .mission {
    border-top: 1px dotted #000066;
    padding: 20px 0;
}

.missions .mission ul li {
    list-style: none;
}

.missions .mission:last-child {
    border-bottom: 1px dotted #000066;
}

.missions .mission ul li label {
    font-family: 'Arial';
    font-size: 13px;
    font-weight: bold;
}

.missions .mission ul li a {
    color: #CA1B20;
}

.missions .mission ul li p {
    font-size: 15px;
    padding: 4px 0 0 15px;
}

/**
* END MAPS
**/



/**
* USER_PROFILE
**/

.avatar {
	width: 150px;
	height: 150px;
	background-color: #000000;
	float: left;
	overflow: hidden;
}

.avatar img {
	width: 100%;
	height: auto;
}

.info {
	float: left;
	margin: 0px 0px 0px 10px;
}

.info table td {
	padding: 3px 10px;
	text-align: center;
    vertical-align:middle;
}

.info p {
	font-family: 'aleo';
}


.matrials {
	float: right;
}

.materials ul li {
	display: inline-block;
	float: right;
	margin: 0px 5px;
	font-family: 'aleo';
}

.materials ul li .gold span {
	color: #fff600;
}
.materials ul li .wood span {
	color: #6e5603;
}
.materials ul li .rock span {
	color: #8a8a89;
}
.materials ul li .points span {
	color: #4b47ff;
}

.right_menu {
	float: left;
	clear: both;
	margin: 12px 0px;
}

.right_menu ul .menu_button {
	padding: 6px;
	text-transform: uppercase;
}


/**
* END USER_PROFILE
**/

/**
  * ACCOUNT
  */

#user_data {
    float: left;
}

#user_data table tr .title {
    padding-right: 15px;
    text-transform: uppercase;
}

#user_data table tr td input {
    margin: 2px 0;
    padding: 3px;
}

#user_data #submit {
    float: right;
    margin-top: 5px;
    width: 140px;
    padding: 6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #f42d2d;
    background-color: #000000;
    border: none;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

#user_data #submit:hover {
    background-color: #f42d2d;
    color: #000000;
}

/**
  * ACCOUNT
  */

