@font-face {
    font-family: 'entypo';
    src: url('fonts/entypo.eot');
    src: url('fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('fonts/entypo.woff') format('woff'),
         url('fonts/entypo.ttf') format('truetype'),
         url('fonts/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'entypo-social';
    src: url('fonts/entypo-social.eot');
    src: url('fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('fonts/entypo-social.woff') format('woff'),
         url('fonts/entypo-social.ttf') format('truetype'),
         url('fonts/entypo-social.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'aleo';
	src: url('fonts/Aleo-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.entypo{
    font-family: 'entypo';
    font-size: 50px;
}

.entypo.home:before{ content:'\2302'; }
.entypo.cog:before{ content:'\2699'; }
.entypo.suitcase:before{ content:'\1F6C6'; }
.entypo.compass:before{ content:'\E728'; }

/*
 * OGÓLNE
*/
html{
    width: 100%;
    background-color: #363636;
	font-family: 'aleo';
}

body{
    width: 100%;
    margin: 0 auto;
}

#content{
    width: 960px;
    margin: 0 auto;

}

/*
 * END OGÓLNE
 */


/*
 * HEADER
*/

header{
	width: 100%;
    overflow: hidden;
	background-color: #050505;
}

.header{
    width: 960px;
    margin: 0 auto;
}

.header #logo h1{
    font-size: 0px;
}

.header #logo{
	float: left;
    padding: 6px 24px;
    overflow: hidden;
}

.header #logo img{
    width: 150px;
    height: 150px;
}

.header .registration{
	float: right;
    padding: 60px;
    line-height: 49px;
}

.header .registration a{
	font-size: 25px;
	text-decoration: none;
    color: #f42d2d;
    text-transform: uppercase;
}

.header .registration a:hover{
	color: red;
}

/*
 * INDEX
*/


/*
 * NAVIGATION
 */

.user_menu{
    width: 100%;
    padding: 24px 0px;
    float: left;
}

.user_menu ul{
    list-style-type: none;
}

.user_menu ul li i{
    float: left;
    margin: -30px 6px 0px 0px;

}

.user_menu ul li{
    display: inline-block;
    background-color: #000000;
    text-align: center;
}

.user_menu ul li a{
    float: left;
    color: #f42d2d;
    font-size: 18px;
    text-transform: uppercase;
    padding: 12px;
    transition: all 0.1s ease 0.1s;
}

.user_menu ul li a:hover{
    background-color: #101010;
}


/*
 * END NAVIGATION
 */

/************** INDEX-LEWA KOLUMNA **************/


.left_sidebar{
    width: 50%;
    display: inline-block;
    float: left;
    overflow: hidden;
    padding: 12px 0px;
}

.left_sidebar .title {
    font-size: 25px;
    font-weight: bold;
    padding: 12px;
}

.left_sidebar .node {
    padding: 12px 0px;
    width: 340px;
    margin: 0 auto;
    overflow: hidden;
    float: left;
}

.left_sidebar .node .info_title {
    font-size: 18px;
    padding: 12px 24px;
}

.left_sidebar .node .description{
	font-size: 16px;
    padding: 6px 0px;
}

.left_sidebar .node a{
	float: right;
	margin-right: 10px;
}


/************** INDEX-LEWA KOLUMNA **************/

.right_sidebar{
    float: right;
    overflow: hidden;
    display: inline-block;
    width: 50%;
}

.right_sidebar .login_panel {
    padding: 12px 0px;
    float: right;
    padding: 24px;
    margin: 50px 0px;
}

.right_sidebar .login_panel .title{
    font-size: 25px;
    font-weight: bold;
    padding: 12px;
}

.right_sidebar .login_panel .login_form {
    padding: 6px 0px;
    display: inline-block;
}

.right_sidebar .login_panel .login_form p{
    padding: 6px 0px;
    clear: both;
}

.right_sidebar .login_panel .login_form span{
    margin: 0px 6px;
}
    
.right_sidebar .login_panel .login_form input {
    float: right;
    line-height: 12px;
    padding: 3px;
    width: 150px;
}

.right_sidebar .login_panel .login_form #submit{
    padding: 3px;
	width: 70px;
    float: right;
    margin: 6px 0px;
}

/*
 * END INDEX
 */

/*
 * FOOTER
*/

footer{
	clear: both;
	width: 100%;
	background-color: #050505;
    padding: 12px;
    overflow: hidden;
}

.footer{
    width: 960px;
    margin: 0 auto;
    padding: 6px 0px;
}

.footer .left li{
    list-style-type: none;
    display: inline;
    float: left;
    padding: 6px;
    border-left: 1px dotted #ffffff;
}

.footer .left li:first-child{
    border-left: none;
}

.footer .left li a{
    color: #ffffff;
    padding: 6px;
}

.footer .link_footer{
	float: left;
	padding: 5px 10px;
}

.footer .right li{
    padding: 6px;
	text-align: center;
    float: right;
    display: inline;
    color: #ffffff;
}

/*
 * END FOOTER
 */



.register_form{
	padding: 24px 0px; 
}

.register_form table td{
	padding: 6px;
}

.register_form table tr td .label{
	font-size: 18px;
}

.register_form table tr td input{
	padding: 3px;
	width: 150px;
}


/**
* MAPS
**/

.buttons #generate label{

}

.buttons #generate #from{

}

.buttons #generate #to{

}

/**
* END MAPS
**/



/**
* USER_PROFILE
**/

.avatar{
	width: 150px;
	height: 150px;
	background-color: #000000;
	float: left;
}

.info{
	float: left;
	margin: 0px 0px 0px 10px;
}

.info table td{
	padding: 3px 10px;
	text-align: center;
    vertical-align:middle;
}

.info p{
	font-family: 'aleo';
}


.matrials{
	float: right;
}

.materials ul li{
	display: inline-block;
	float: right;
	margin: 0px 5px;
	font-family: 'aleo';
}

.materials ul li .gold span{
	color: #fff600;
}
.materials ul li .wood span{
	color: #6e5603;
}
.materials ul li .rock span{
	color: #8a8a89;
}
.materials ul li .points span{
	color: #4b47ff;
}

.right_menu{
	float: left;
	clear: both;
	margin: 12px 0px;
}

.right_menu ul .menu_button{
	padding: 6px;
	text-transform: uppercase;
}


/**
* END USER_PROFILE
**/

