html {
    min-width: 1000px;
	font-family: 'aleo';
    background-color: #00A047;
}

body {
    margin: 0 auto;
}

#content {
    width: 960px;
    margin: 20px auto;
}

.register_form {
	padding: 24px 0px; 
}

.register_form table td {
	padding: 6px;
}

.register_form table .label {
	font-size: 18px;
}

.register_form td input {
	padding: 3px;
	width: 150px;
}


/**
* MAPS
***/

.generate_mission {
    float: left;
    overflow: hidden;
}

.generate_mission #form_mission {
    margin: 0px 0px 20px 20px;
}

.generate_mission #form_mission table tr td {
    padding: 3px;
}

.generate_mission #form_mission table tr td span {
    text-transform: uppercase;
    margin-right: 6px;
}

.generate_mission #form_mission table tr td input {
    padding: 3px;
    width: 100px;
}

.generate_mission #form_mission #generate {
    float: right;
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #f42d2d;
    background-color: #000000;
    border: none;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

.generate_mission #form_mission #generate:hover {
    background-color: #f42d2d;
    color: #000000;
}

.missions {
    clear: both;
    overflow: hidden;
    padding: 10px;
    margin: 20px 0px;
}

.missions .mission {
    border-top: 1px dotted #000066;
    padding: 20px 0;
}

.missions .mission ul li {
    list-style: none;
}

.missions .mission:last-child {
    border-bottom: 1px dotted #000066;
}

.missions .mission ul li label {
    font-family: 'Arial';
    font-size: 13px;
    font-weight: bold;
}

.missions .mission ul li a {
    color: #CA1B20;
}

.missions .mission ul li p {
    font-size: 15px;
    padding: 4px 0 0 15px;
}

/**
* END MAPS
**/



/**
* USER_PROFILE
**/

.avatar {
	width: 150px;
	height: 150px;
	background-color: #000000;
	float: left;
	overflow: hidden;
}

.avatar img {
	width: 100%;
	height: auto;
}

.info {
	float: left;
	margin: 0px 0px 0px 10px;
}

.info table td {
	padding: 3px 10px;
	text-align: center;
    vertical-align:middle;
}

.info p {
	font-family: 'aleo';
}


.matrials {
	float: right;
}

.materials ul li {
	display: inline-block;
	float: right;
	margin: 0px 5px;
	font-family: 'aleo';
}

.materials ul li .gold span {
	color: #fff600;
}
.materials ul li .wood span {
	color: #6e5603;
}
.materials ul li .rock span {
	color: #8a8a89;
}
.materials ul li .points span {
	color: #4b47ff;
}

.right_menu {
	float: left;
	clear: both;
	margin: 12px 0px;
}

.right_menu ul .menu_button {
	padding: 6px;
	text-transform: uppercase;
}


/**
* END USER_PROFILE
**/

/**
  * ACCOUNT
  */

#user_data {
    float: left;
}

#user_data table tr .title {
    padding-right: 15px;
    text-transform: uppercase;
}

#user_data table tr td input {
    margin: 2px 0;
    padding: 3px;
}

#user_data #submit {
    float: right;
    margin-top: 5px;
    width: 140px;
    padding: 6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #f42d2d;
    background-color: #000000;
    border: none;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

#user_data #submit:hover {
    background-color: #f42d2d;
    color: #000000;
}

/**
  * CHALLENGE
  */

.challenge_content .joinPvpForm {
    margin: 0 0 10px 0;
}

.challenge_content .joinPvpForm label {
    padding-right: 15px;
}

.challenge_content .joinPvpForm #id_gameMode {
    width: 150px;
    padding: 4px;
    text-align: center;
}

.challenge_content .joinPvpForm input[type="submit"] {
    padding: 4px;
    font-size: 13px;
    border: none;
}

.challenge_content .wait_for,
.challenge_content .your_challenge {
    overflow: hidden;
    margin: 20px 0;
    }

.challenge_content .wait_for p,
.challenge_content .your_challenge p {
    font-size: 20px;
}

.challenge_content .wait_for li,
.challenge_content .your_challenge li {
    font-size: 16px;
}

/**
  * END CHALLENGE
  */

/**
  * MESSSAGEBOX
  */

.messagebox_content .contact_list,
.messagebox_content .sended_messages,
.messagebox_content .received_messages {
    margin: 0 0 20px 0;
}

.messagebox_content p.subtitle {
    font-size: 20px;
}

.messagebox_content li {
    display: block;
    padding: 3px;
}

.messagebox_content .message_form textarea {
    width: 500px;
    resize: vertical;
    height: 150px;
}

/**
  * END MESSSAGEBOX
*/  