.missions {
    clear: both;
    overflow: hidden;
    padding: 10px;
    margin: 20px 0px;
}

.missions .single_mission {
    border-top: 1px dotted #000066;
    padding: 20px 0;
}

.missions .single_mission ul li {
    list-style: none;
}

.missions .mission:last-child {
    border-bottom: 1px dotted #000066;
}

.missions .single_mission ul li label {
    font-family: 'Arial';
    font-size: 13px;
    font-weight: bold;
}

.missions .single_mission ul li a {
    color: #CA1B20;
}

.missions .single_mission ul li p {
    font-size: 15px;
    padding: 4px 0 0 15px;
}