.missions {
    clear: both;
    overflow: hidden;
    padding: 10px;
    margin: 20px 0px;
}

.missions .single_mission {
    border-top: 1px dotted #000066;
    padding: 20px 0;
}

.missions .single_mission ul li {
    list-style: none;
}

.missions .mission:last-child {
    border-bottom: 1px dotted #000066;
}

.missions .single_mission ul li label {
    font-family: 'Arial';
    font-size: 13px;
    font-weight: bold;
}

.missions .single_mission ul li a {
    color: #CA1B20;
}

.missions .single_mission ul li p {
    font-size: 15px;
    padding: 4px 0 0 15px;
}

.missions .single_mission span {
    margin-left: 20px;
    font-size: 14px;
}

.challenge_content .joinPvpForm {
    margin: 0 0 10px 0;
}

.challenge_content .joinPvpForm label {
    padding-right: 15px;
}

.challenge_content .joinPvpForm #id_gameMode {
    width: 150px;
    padding: 4px;
    text-align: center;
}

.challenge_content .joinPvpForm input[type="submit"] {
    padding: 4px;
    font-size: 13px;
    border: none;
}

.challenge_content .wait_for,
.challenge_content .your_challenge {
    overflow: hidden;
    margin: 20px 0;
    }

.challenge_content .wait_for p,
.challenge_content .your_challenge p {
    font-size: 20px;
}

.challenge_content .wait_for li,
.challenge_content .your_challenge li {
    font-size: 16px;
}