{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map-canvas { height: 400px; width: 500px;float: left; margin: 0 20px 20px 0;}
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPXQswYEiVGwvSEwWYl5UnXKaNLFYF2I0&sensor=true"></script>

    <script type="text/javascript">
        var map;
        var marker;
        var area;
        var initialLocation;

        function initialize()
        {
            initialLocation = new google.maps.LatLng("{{ latitude }}", "{{ longitude }}");  //Pobranie wspolrzednych
 
            //Opcje mapy
            map = new google.maps.Map(document.getElementById("map-canvas"), {
                zoom: 16,
                center: initialLocation,
                mapTypeId: google.maps.MapTypeId.SATELLITE                
            });


            document.getElementsByName('latitude')[0].value = "{{ latitude }}";    //Ustawiam aktualne wartosci dla wspolrzednych
            document.getElementsByName('longitude')[0].value = "{{ longitude }}";

            //Nowy marker
            marker = new google.maps.Marker({
                map: map,
                position: initialLocation,
                icon: "{% static 'images/marker.png' %}",
                title: 'Twoja baza'
            });

            //Ustwawinie nowej pozycji na mapie
            google.maps.event.addListener(map, 'click', function(event) {   //Uzytkownk ustawia swoja pozycje na mapie
                var lat = event.latLng.lat();
                var lng = event.latLng.lng();
                document.getElementsByName('latitude')[0].value = lat; //Wypisuje zaznaczone wspolrzedne
                document.getElementsByName('longitude')[0].value = lng;
                initialLocation = new google.maps.LatLng(lat, lng);
                marker.setMap(null);
                marker = new google.maps.Marker({
                    map: map,
                    position: initialLocation,
                    icon: "{% static 'images/marker.png' %}"
                });
            });
      		
        }

        google.maps.event.addDomListener(window, 'load', initialize);
     </script>
        
{% endblock %}

{% block content %}
<div id="map-canvas"></div>
    <form id="user_data" action="/account/" method="post">{% csrf_token %}
		<table>
		{% for field in form %}
			<tr>
				<td>{{ field.label }}</td><td>{{ field }}</td>
			</tr>
		{% endfor %}
		</table>
		<input id="submit" type="submit" value="Zatwierdz"/>
    </form>
{% endblock %}
