<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<meta name="keywords" content="breaking, game, online game">
        
        <title>
            {% block title %}Breaking - the best game of the world!{% endblock %}
        </title>

		{% block stylesheets %}
			{% load staticfiles %}
            <link rel="stylesheet" type="text/css" href={% static 'reset.css' %}>
			<link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
		{% endblock %}

		{% block javascripts %}

		{% endblock %}
	</head>

	<body>   
        <header>
            <div class="header">
                {% block header %}
                    <div id="logo">
                        <h1>Breaking</h1>
                        <img src={% static "images/logo_breaking.png" %} alt="breaking">
                    </div>
                {% endblock %}
            </div>
        </header>

        <div id="content">
            {% block navigation %}
                <nav class="user_menu">
                    <ul>
                        <li><a href="/user_panel/"><i class="entypo home"></i>Panel</a></li>
                        <li><a href="/account/"><i class="entypo cog"></i>Ustawienia</a></li>
                        <li><a href="/equipment/"><i class="entypo suitcase"></i>Ekwipunek</a></li>
                        <li><a href="/maps/"><i class="entypo compass"></i>Mapa</a></li>
                        <li><a href="/communicator/"><i class="entypo communicator"></i>Komunikator</a></li>
                    </ul>
                </nav>
            {% endblock %}

            {% block content %}

            {% endblock %}
        </div>

        <footer>
            {% block footer %}
                <div class="footer">
                    <ul class="left">
                        <li class="link_footer"><a href="#">Kontakt</a></li>
                        <li class="link_footer"><a href="#">Regulamin gry</a></li>
                        <li class="link_footer"><a href="#">O grze</a></li>
                        <li class="link_footer"><a href="#">FAQ</a></li>
                    </ul>
                    <ul class="right">
                        <li>Copyright © 2013-2014 | Breaking team</li>
                    </ul>
                </div>
            {% endblock %}
        </footer>
	</body>

</html>
