<!DOCTYPE html>
 <html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">

    <title>
      {% block title %}Breaking{% endblock %}
    </title>

    {% block stylesheets %}
      <link rel="stylesheet" type="text/css" href={% static 'css/reset.css' %}>
      <link rel="stylesheet" type="text/css" href={% static 'css/fonts.css' %}>
      <link rel="stylesheet" type="text/css" href={% static 'css/globals.css' %}>
      <link rel="stylesheet" type="text/css" href={% static 'css/header.css' %}>
      <link rel="stylesheet" type="text/css" href={% static 'css/footer.css' %}>
      <link rel="stylesheet" type="text/css" href={% static 'css/index.css' %}>
      <link rel="stylesheet" type="text/css" href={% static 'css/missions.css' %}>
      <link rel="stylesheet" type="text/css" href={% static 'css/messagebox.css' %}>
      <link rel="stylesheet" type="text/css" href={% static 'css/account.css' %}>
    {% endblock %}

    {% block javascripts %}

    {% endblock %}
  </head>

  <body>   
    <header>
      {% block header %}
        {% include "base/header.html" %}
      {% endblock %}

      {% block navigation %}
        {% include "base/navigation.html" %}
      {% endblock %}
    </header>

    <div id="content">
      {% block content %}

      {% endblock %}
    </div>

    <footer>
      {% block footer %}
        {% include "base/footer.html" %}
      {% endblock %}
    </footer>
  </body>
</html>