{% extends "base.html" %}
{% load staticfiles %}
    
{% block content %}

  <div class="challenge_content">

  	<form class="joinPvpForm" action='/challenge/' method="post">
    {% csrf_token %}
      <table>
        <tr>
      	  <td>{{ form.gameMode.label }}</td><td>{{ form.gameMode }}</td>
        </tr>
      </table>
    	<input type="submit" value="Join" />
  	</form>
    
    <div id="Wait">
  	Czekasz na rozgrywki:
    </div>

    <div id="Other">
  	Twoje rozgrywki:
    </div>

  </div>

{% endblock %}
