{% extends "base.html" %}
{% load staticfiles %}
    
{% block content %}

  <div class="challenge_content">

  	<form class="joinPvpForm" action='/challenge/' method="post">
    {% csrf_token %}
      {{ form.gameMode.label }}{{ form.gameMode }}
    	<input type="submit" value="Join" />
  	</form>
    
    <div class="wait_for">
  	  <p>Czekasz na rozgrywki:</p>
      <ul>
        {% for game in waitingGames %}
          <li>{{ game.mode.taskName }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="your_challenge">
  	  <p>Twoje rozgrywki:</p>
      <ul>
        {% for game in gamesInProgress %}
          <li>{{ game.mode.taskName }}</li>
        {% endfor %}
      </ul>
    </div>

  </div>

{% endblock %}
