{% extends "base.html" %}
{% load staticfiles %}

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

{% block stylesheets %}
    {{ block.super }}
    <style type="text/css">
        #map-canvas {
            height: 500px;
            width: 500px; 
            float: left;
            margin: 0 20px 20px 0;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPXQswYEiVGwvSEwWYl5UnXKaNLFYF2I0&sensor=true"></script>
    {% include "missionsMap.html" %}
{% endblock %}

{% block content %}

    <div id="map-canvas"></div>

    <div class="missions">
        {% for game in gamesInProgress %}
        <div class="single_mission">
            <ul>
                <li>
                    <a {% if game.dateTime2 >= now_date %}href="" onclick="showMissionPosition({{ checkpoints.0.0 }}, {{ checkpoints.0.1 }})"{% endif %}>
                        {{ game.mode }}
                    </a> <span>{{ game.dateTime2 }}</span>
                    <p>{{ now_date }}</p>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>

{% endblock %}