{% extends "base.html" %}
{% load staticfiles %}

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

{% block stylesheets %}
    {{ block.super }}
    <style type="text/css">
        #map-canvas {
            height: 500px;
            width: 500px;
            clear: both;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPXQswYEiVGwvSEwWYl5UnXKaNLFYF2I0&sensor=true"></script>

     <script type="text/javascript">
        var map;
        var marker;
        var area;
        var initialLocation;

        function initialize()
        {
            initialLocation = new google.maps.LatLng("{{ latitude }}", "{{ longitude }}");  //Pobranie wspolrzednych
 
            //Opcje mapy
            map = new google.maps.Map(document.getElementById("map-canvas"), {
                zoom: 16,
                center: initialLocation,
                mapTypeId: google.maps.MapTypeId.SATELLITE                
            });

            //Nowy marker
            marker = new google.maps.Marker({
                map: map,
                position: initialLocation,
                icon: "{% static 'images/marker.png' %}",
                title: 'Twoja baza'
            });

            //Nowy obszar wokol markera
            area = new google.maps.Circle({
                map: map,   //mapa
                center: new google.maps.LatLng("{{ latitude }}", "{{ longitude }}"),    //pozycja
                radius: 100,    //promien
                strokeColor: '#FF0000', //kolor lini
                strokeOpacity: 0.8, //przezroczystosc lini
                strokeWeight: 2,    //grubosc lini
                fillColor: '#FF0000',   //Kolor obszaru
                fillOpacity: 0.35   //przezroczystosc obszaru
            });


            if("{{ t_latitude }}" && "{{ t_longitude }}")   //Rysowanie okręgu dla misji użytkownka
            {
                marker = new google.maps.Marker({   //Nowy marker
                    map: map,
                    position: new google.maps.LatLng("{{ t_latitude }}", "{{ t_longitude }}"),
                    icon: "{% static 'images/marker.png' %}",
                    title: 'Twoja misja'
                });

                area = new google.maps.Circle({ //opcje obszaru
                    map: map,   //mapa
                    center: new google.maps.LatLng("{{ t_latitude }}", "{{ t_longitude }}"),    //pozycja
                    radius: 100,    //promien
                    strokeColor: '#FF0000', //kolor lini
                    strokeOpacity: 0.8, //przezroczystosc lini
                    strokeWeight: 2,    //grubosc lini
                    fillColor: '#FF0000',   //Kolor obszaru
                    fillOpacity: 0.35   //przezroczystosc obszaru
                });
            }
        }

        google.maps.event.addDomListener(window, 'load', initialize);
     </script>
{% endblock %}

{% block content %}
    <div class="user_panel">
        <nav class="user_menu">
            <ul>
                <li><a href="/user_panel/"><i class="entypo home"></i>Panel</a></li>
                <li><a href="/maps/"><i class="entypo compass"></i>Mapa</a></li>
                <li><a href="/equipment/"><i class="entypo suitcase"></i>Ekwipunek</a></li>
                <li><a href="/account/"><i class="entypo cog"></i>Ustawienia</a></li>
            </ul>
        </nav>

        <div id="map-canvas"></div>

        {% if not t_latitude %}
        <div class="buttons">
            <form action="/generate/">
                <input type="submit" id="generate" value="Generuj">
            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}
