{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

	<div class="messagebox">

		<div class="contact_list">
			<p>Lista kontaktów:</p>
			<ul>
				{% for contact in contacts %}
					<li><a href="./{{ contact.id }}">{{ contact.username }}</a></li>
				{% endfor %}
			</ul>
		</div>
		
		<p>PISZESZ Z {{ username }}</p>

		<p>WYSLANE:</p>
		{% for message in messages %}
			<h2><a href="./{{ ms.user_profile }}">{{ ms.description }}</a></h2>
		{% endfor %}

		<p>ODEBRANE:</p>
		{% for message in messages2 %}
			<h2><a href="./{{ ms2.user_profile }}">{{ ms2.description }}</a></h2>
		{% endfor %}

		<form action="" method="post">
		{% csrf_token %} {#cross site request forgery protection#}
		<table>
		{{ form }}
		</table>
		<input type="submit" value="Submit">
		</form>

	</div>

{% endblock %}