{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
	{{ block.super }}
    <style>
      
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { 
        height: 500px; width: 500px
      }
      
      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

    </style>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPXQswYEiVGwvSEwWYl5UnXKaNLFYF2I0&sensor=true&libraries=places"></script>
  {% include "registerMap.html" %}
{% endblock %}

{% block navigation %}

{% endblock %}
    
{% block content %}

	<form class="register_form" enctype="multipart/form-data" action='/register/' method="post">
  {% csrf_token %}
    <table>
      <tr>
    	  <td><label class="label">Nick:</label></td><td>{{ form.username }}</td> 
      </tr>
      <tr>
        <td><label class="label">Imię:</label></td><td>{{ form.first_name }}</td>
      </tr>
      <tr>
        <td><label class="label">Nazwisko:</label></td><td>{{ form.last_name }}</td>
      </tr>
      <tr>
        <td><label class="label">Hasło:</label></td><td>{{ form.password1 }}</td>
      </tr>
      <tr>
        <td><label class="label">Powtórz hasło:</label></td><td>{{ form.password2 }}</td>
      </tr>
      <tr>
        <td><label class="label">Latitude:</label></td><td>{{ form.latitude }}</td>
      </tr>
      <tr>
        <td><label class="label">Longitude:</label></td><td>{{ form.longitude }}</td>
      </tr>
      <tr>
        <td><label class="label">Avatar:</label></td><td>{{ form.avatar }}</td>
      </tr>
    </table>
  	<input type="submit" value="Register" />
	</form>


  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="map-canvas"></div>

  <div id="show"></div>
{% endblock %}
