{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map-canvas { height: 300px; width: 300px}
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPXQswYEiVGwvSEwWYl5UnXKaNLFYF2I0&sensor=true"></script>
    <script type="text/javascript" src={% static 'maps.js' %}></script>
{% endblock %}

{% block content %}
    <form id="user_data">
        Imię: <input type="text" name="first_name" value="">
        Nazwisko: <input type="text" name="last_name" value="">
        Wiek: <input type="text" name="age" value="">
        Lokalizacja: <input type="text" name="position" value="">
    </form>
    <div id="map-canvas"></div>
{% endblock %}