/*
 * RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a{
	text-decoration: none;
}
a:hover{
	color: red;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * BODY
*/
html{
	width: 960px;
	margin: 0 auto;
}

/*
 * HEADER
*/

header{
	width: 960px;
	height: 150px;
	margin-top: 30px;
}

header #logo{
	float: left;
}
header #logo img{
	width: 350px;
	height: 130px;
}

header #registration{
	float: right;
	margin-right: 200px;
	margin-top: 30px;
}

header #registration a{
	font-size: 1.5em;
	text-decoration: none;
}

header #registration a:hover{
	color: red;
}

/*
 * BODY
*/

/*
 * BODY-LEWA KOLUMNA
*/


body{
	width: 960px;
	height: 600px;
}

body #description{
	width: 350px;
	height: 440px;
	float: left;
	margin-left: 20px;
}

body #description h2{
	font-size: 1.3em;
	font-weight: bold;
	padding: 5px 20px 5px;
}

body #description .node{
	padding: 5px 10px 5px 5px;
}

body #description .node h3{
	font-size: 1.2em;
	padding-bottom: 8px;
	padding-left: 6px;
	padding-top: 10px;
}

body #description .node p{
	font-size: 1em;
}

body #description .node a{
	float: right;
	margin-right: 10px;
}

/*
 * BODY-PRAWA KOLUMNA
*/

body #login_panel{
	float: right;
	margin: 80px 100px;
	padding-bottom: 20px;
}

body #login_panel h2{
	font-size: 1.3em;
	padding-bottom: 30px;
}

body #login_panel p{
	font-size: 1.15em;
}

body #login_panel input{
	margin-bottom: 5px;
}

body #login_panel #submit{
	width: 70px;
	height: 25px;
	margin-left: 135px;
}

/*
 * FOOTER
*/

footer{
	clear: both;
	width: 960px;
	height: 40px;
	padding-top: 15px;
}

footer .link_footer{
	float: left;
	padding: 5px 10px 10px;
}

footer #rights{
	padding: 5px;
	text-align: center;
}