{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="user_panel">
    	<nav class="user_menu">
    		<ul>
                <li><a href="/user_panel/"><i class="entypo home"></i>Panel</a></li>
    			<li><a href="/account/"><i class="entypo cog"></i>Ustawienia</a></li>
                <li><a href="/equipment/"><i class="entypo suitcase"></i>Ekwipunek</a></li>
                <li><a href="/maps/"><i class="entypo compass"></i>Mapa</a></li>
    		</ul>
    	</nav>
{% endblock %}
