{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="avatar">
		<img src="{{ MEDIA_URL }}{{ user_profile.avatar }}">
	</div>
	<div class="info">
		<p>Współrzędne Twojej bazy:</p>
		<table>
			<thead>
				<tr><td>Szerokość</td><td>Wysokość:</td></tr>	
			</thead>
			<tbody>
				<tr><td>{{ user_profile.latitude|floatformat:-4 }}</td><td>{{ user_profile.longitude|floatformat:-4 }}</td></tr>
			</tbody>
		</table>
	</div>
	<div class="materials">
		<ul>
			<li><img src=""><p class="points">Punkty: <span>{{ user_profile.points }}</span></p></li>
		</ul>
	</div>

{% endblock %}
