{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<img src="" class="avatar"/>
	<div class="info">
		<p>Współrzędne Twojej bazy:</p>
		<ul>
			<li>Szerokość: {{ user_profile.latitude|floatformat:-4 }}</li>
			<li>Wysokość: {{ user_profile.longitude|floatformat:-4 }}</li>
		</ul>
	</div>
	<div class="materials">
		<ul>
			<li><img src=""><span class="points">Punkty: {{ user_profile.points }}</span></li>
			<li><img src=""><span class="gold">Złoto: {{ user_profile.count_gold }}</span></li>
			<li><img src=""><span class="rock">Kamienie: {{ user_profile.count_rock }}</span></li>
			<li><img src=""><span class="wood">Drewno: {{ user_profile.count_wood }}</span></li>
		</ul>
	</div>

	<div class="right_menu">
		<ul>
			<li class="menu_button"><a href="#">Twoje obiekty</a></li>
			<li class="menu_button"><a href="#">Rozbuduj</a></li>
		</ul>
	</div>

{% endblock %}
