<div class="header_bottom">

  <nav class="user_navigation">
    <ul>
      <li>
        <a href="/user_panel/"><i class="awesome">&#xf015;</i>Panel</a>
      </li>
      <li>
        <a href="/account/"><i class="awesome">&#xf013;</i>Ustawienia</a>
      </li>
      <li>
        <a href="/challenge/"><i class="awesome">&#xf0c0;</i>Challenges</a>
      </li>
      <li>
        <a href="/maps/"><i class="awesome">&#xf041;</i>Mapa</a>
      </li>
      <li>
        <a href="/messagebox/"><i class="awesome">&#xf0e0;</i>Komunikator</a>
      </li>
    </ul>
  </nav>

</div>